.style1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hstyle1 {
  font-family: 'Lobster';
  font-size: 35px;
}
.liststy {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.itemsty {
  padding: 15px;
  margin: 30px;
}
